<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css" 
    integrity="sha512-8M8By+q+SldLyFJbybaHoAPD6g07xyOcscIOQEypDzBS+sTde5d6mlK2ANIZPnSyxZUqJfCNuaIvjBUi8/RS0w==" 
    crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.extensions.min.js"
    integrity="sha512-pci5WG2+7QnpsinWWpGUd3RgI61fU1bWlQQQegC2mVqwOQC/+Xp0ROGO0AYB6dvoLBYRxwm+t+DWOVRkxmlcdQ==" 
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/vendors/scrolloverflow.min.js" 
    integrity="sha512-pYyQWhzi2lV+RM4GmaUA56VPL48oLVvsHmP9tuQ8MaZMDHomVEDjXXnfSVKXayy+wLclKPte0KbsuVoFImtE7w==" 
    crossorigin="anonymous"></script>
    <script
    src="https://kit.fontawesome.com/fc31dedf63.js"    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" 
        integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" 
        crossorigin="anonymous"></script>
    <link rel="icon" href="../static/img/favicon.ico" />
    <link rel="preload" as="script" href="../static/js/App.js">
    <link rel="stylesheet" href="../static/index.css"/>

    
    <title>TechEx 2020</title>
</head>
<body>
    <div id="fullpage">
        <div class="section sec1" id="page1">
            <div style="position: relative; top:-10%;" id="logo">
                <img src="../static/img/techexlogo.png" alt="TechEx"  id="logosvg">
                <p id="logoTag"><b>An introduction to everything tech</b></p>
            </div>
            <div id="scroll">
                <div style="width: auto;">
                    <a href="#signup"><button type="button">Register</button></a>
                    </br></br>
                    Scroll down for more info!
                </div>
            </div>
        </div>
         <!-- INTRO TO PyGame -->
        <div class="section" id="page2">
            <div id="rectImg">
                <img src="../static/img/firstpageAssets/rect.png" width="20%" height="20%">
            </div>
            <div id="marioImgDiv">
                <img src="../static/img/firstpageAssets/bigmario.png" id="marioImg">
            </div>
            <div class="sectionContainer" id="s2">
               
                <div style="opacity: 0.5;">
                    <img src="../static/img/firstpageAssets/question.png" id="questionImg">
                </div>
                <div>
                    <div><h1 style="margin-bottom: 0px;"><b>What is <span style="color: #fb8449">TechEx</span></b></h1></div>
                   <div style="display: flex; justify-content: center"> 
                       <p id="intro">
                            And the doors to TechEx are open again! We've got the perfect 
                            introduction to tech and design on the other side. 
                            What are you waiting for? Scroll Down!
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <!----WHAT IS TECHEX -->
        <div class="section" id="page3">
            <div class="bg sec3">
            </div>
            <div class="sectionContainer" id="s4">
                <div>
                    <h1><b><span style="color: white;">UI</span> design with <span style="color: white;">Figma</span></b></h1>
                    <p id="designcontent" >
                        Want to make your app design  look more aesthetic?
                        Want to be a part of something other than just coding?</br>
                        </br>
                        We invite you to join us in the world of design where you learn 
                        something others dont know, stand out and get creative with us.
                        </br>
                        Put your creative skills into use and learn with us at our workshop 
                        on UI design using Figma!
                    </p>
                     <h2 class="dates"><i class="far fa-calendar"  style="padding-right: 7px;"></i>  18<sup>th</sup> November 2020</h2>
                </div>
            </div>
            <img src="../static/img/phoneAsset.svg"  id="phoneImg">
        </div>


        <!-- INTRO TO APP -->
        <div class="section" id="page4">
            <div class="bg sec4"></div>
            <div class="sectionContainer" id="s3">
                <div id="pygamecontent"><h1><b>Intro to <span style="color: white;">PyGame</span></b></h1></div>
                <div id="pygamecontent">
                    <p style="width: 100%;">
                        Have you ever been enthralled by a video game and have wanted to build your own?
                        For making a game of your choice, a little bit of python programming is all you need to know. 
                    </br></br>
                        Learn Python the fun way by making games of your choice and discover the ease of coding with us
                    </p>
                </div>
                 <div id="pygamecontent"><h2 class="dates"><i class="far fa-calendar"  style="padding-right: 7px;"></i>  22<sup>nd</sup> November 2020</h2></div> 
            </div>
            <img src="../static/img/controllerAsset.svg"  id="controllerImg">
         </div>
         <!-- REGISTRATION FORM AND STUFF -->
         <div class="section sec5" id="register" style="background-color: #fb8449;">

            <div class = "last"> 
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img1.JPG" >
                    
                    </div>
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img2.jpg">
                    </div>
                    
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img3.jpg" >
                    </div>
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img4.jpg" >
                    </div>
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img5.jpg" >
                    </div>
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img6.jpg" >
                    </div>
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img7.jpg" >
                    </div>
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img8.JPG" >
                    </div>
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img9.JPG">
                    </div>
                    <div class="mySlides fade">
                        <img src="../static/img/slideshow/img10.JPG">
                    </div>
                </div>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                    <span class="dot" onclick="currentSlide(4)"></span> 
                    <span class="dot" onclick="currentSlide(5)"></span> 
                    <span class="dot" onclick="currentSlide(6)"></span> 
                    <span class="dot" onclick="currentSlide(7)"></span> 
                    <span class="dot" onclick="currentSlide(8)"></span> 
                    <span class="dot" onclick="currentSlide(9)"></span> 
                    <span class="dot" onclick="currentSlide(10)"></span> 
                </div>
                <div class="aboutAndReg">
                    <div id="aboutCSI">
                    </br>
                        <h3><b>About CSI</b></h3>
                        <p style="font-weight: bold;">
                            The Computer Society of India is the largest body of non-profit computer professionals
                            in India. We are a group of skilled desginers, developers, and tech enthusiasts who 
                            engage in pushing technology forward. We organise a wide range of workshops, conferences,
                            competitions and non-technical events to facilitate the growth of participants. 
                        </p><br>
                        <p style="color: white;">Visit out website <a href="https://csivit.com/">csivit.com</a>
                            to see more of who we are and what work we do.
                        </p>
                    </div>
                    <div id="registerForm">
                        <h3><b>Interested? Let's get you registered!</b></h3>
                        <form method="POST" action="">
                            <input type="text" name="name" placeholder="Enter your name" id="name"/>
                            <input type="email" name="email" placeholder="Email ID" id="email"/>
                            <input type="tel" name="phone" pattern="[1-9][0-9]{9}" placeholder="Mobile Number" id="phone"/>
                            <input type="password" name="password" placeholder="Enter password" id="password"/>
                            <input type="password" name="confirmedPassword" placeholder="Re-enter your password" id="rePassword"/>
                            <div class="g-recaptcha" data-sitekey="6LeFNOAZAAAAAAKtE1U2fnt1Pz0-HMEZ1k4I44Xk"></div>
                            <input type="submit" value="REGISTER" id="submitBtn">
                            <div id="spitErrors" style="font-size: 0.9rem;"></div>
                        </form>
                    </div>
                </div>

            </div>
         </div>
    </div>
    <div style=" position: fixed; top:0; z-index: 10; padding-bottom: -5px;
     width: 100%;" id="navContainer">
        <nav>
            <div><a  data-menuanchor="homepage" href="#homepage"><h2 class="navbar-brand"><b>TechEx</b></h2></a></div>
            <div>
            <ul id="menu">
                <li data-menuanchor="whatistechex"><a class="nav-link" href="#whatistechex">About</a></li>
                <li data-menuanchor="uiwithfigma"><a class="nav-link" href="#uiwithfigma">Events</a></li>
                <li data-menuanchor="signup"><a class="nav-link" href="#signup">Register</a></li>
            </ul>
            </div>
        </nav>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="../static/js/App.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
</body>
</html>
