html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 24px;
}
button{
    font-weight: bolder;
    border:none;
    font-size: 1rem;
    padding: 10%;
    text-decoration: none;
    background-color: #f58c57;
    color: black;
}
#menu{
    position: fixed;
    display: flex;
    font-size: 0.9rem;
    top: 0;
    z-index: 999;
    min-height: 5vh;
    justify-content: center;
    background-color: transparent;
    justify-items: space-around;
}
#last{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: space-around;
}
#logo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#logosvg{
    max-height: 25vh;   
}
#logoTag{
    font-size: 1rem;
    text-transform: uppercase;
}
.sectionContainer>div{
    width: 80%;
}
.section{
    position: relative;
    margin-bottom: 30px;
    display: grid;
    
}
.bg{
    background-color: #f58c57;
    width: 100%;
    height: 75%;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-left: -106px;
    padding-left: 185px;
    margin-right: -106px;
    padding-right: 185px;
    position: absolute;
}

#s3.sectionContainer{
    justify-content: flex-start;
    align-items: flex-start;
    align-self: left;
    vertical-align: left;
}
.sectionContainer{
    z-index: 1;
    top:20%;
    /* margin-right: 135px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    max-width: 1260px ;
    width: 90%;
    padding: 0px;
    max-height: 500px;
    font-size: 1rem;
    left: 10px;
    right: 20px;
    position: absolute;
    margin: auto;
}
.sectionContainer>div>h1{
    font-size: 2.5rem; 
    padding: 0;
    margin: 0;
}
.dates{
    color: white; 
    margin-top: 9%;
}
.sectionContainer#s2{
    justify-content: flex-end;
}
.sectionContainer>div>p{
    max-width: 600px;
}
.sectionContainer#s4{
    justify-content: flex-end;
}

#aboutCSI{
    padding: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    font-size: 0.9rem;
}

#sec1content{
    max-width: 50%;
    font-size: 1rem;
}
li{
    list-style: none;
}
.nav-link{
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

#page1{
   z-index: 1;
   background-image: url(./img/bg.jpeg);
   background-color: aliceblue;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}
#scroll{
    position: absolute; 
    font-size: 1rem;
    left: 42%;
    bottom: 10%;
    opacity: 0;
    text-align: center;
}
.navbar-brand{
    color: #f58c57;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration-color: none;
    text-decoration: none;
}
#phoneImg{
position: absolute;
top:10vh;
left :20vw;
height: 90%;
width: auto;
}

#controllerImg{ 
/* padding-left: 200px; */
top:10vh;
position: absolute;
left :50vw;
height: 90%;
width: auto;
}

input[type=email], input[type=text],input[type=password],input[type=tel]{
    border: none;
    width: 50%;
    border-bottom: 2px solid white;
    color: white;
    background-color: transparent;
}
input{
    padding: 10px;
    margin: 10px;
}
input[type=submit]{
    font-weight: bolder;
    border:none;
    text-decoration: none;
    color: #f58c57;
    background-color: white;
}
::placeholder { 
    color: white;
    opacity: 1;
  }
  
:-ms-input-placeholder { 
    color: white;
}
  
::-ms-input-placeholder { 
    color:white;
}

.last{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 10%;
}
#designcontent{
    max-width: 50%;
    font-size: 0.9rem;
    justify-content: right;
}
form{
    grid-column: span;
}
#PygameP{
    width: 30%;
    min-width: 40%;
}
#registerForm{
    margin-left: 10px;
}
/* For the slideshow*/ 
.slideshow-container {
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 30px 30px;
    background-color: rgba(255,255,255,1);
    margin-bottom: 5vh;
  } 
.slideshow-container>div>img {
    max-height: 600px;
    width: auto;
    height: 100%;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(139, 139, 139);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .activated, .dot:hover {
    background-color: #444343;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  .aboutAndReg{
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
  }



  @media screen and (max-width: 1024px){
    #designcontent{
        max-width: 100%;
    }
    body{
        font-size: 22px;
    }
    #logosvg{
        width: 30%;
    }
    #page1{
        background-image: none;
    }
    #scroll{
        font-size: 1rem;
        left: 41%;
    }
    #logo{
        width: 100%;
    }
    #sec1content{
        max-width: 100%;
    }
    .aboutAndReg{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 50% 50%;
        margin:5vw;
    }
    .sectionContainer>div{
        width: 60%;
    }
    .slideshow-container {
        display: flex;
        justify-content: center;
        height: 300px;
        background-color: rgba(255,255,255,1);
        margin-bottom: 5vh;
      }
    .slideshow-container>div>img {
        max-height: 300px;
        width: auto;
        height: 100%;
        
      }

     .aboutCSI{
        width: 90vw;
      }
     .aboutCSI:first-child{
         font-size: 0.1rem;
         text-align: center;
     }
     #aboutCSI{
        margin-top: 5%;
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px){
    body{
        font-size: 18px;
    }
    #logo{
        width: 100%;
    }
    #logosvg{
        width: 40%;
        height: 20%;
    }
    #PygameP{
        width: 100%;
    }
    .sectionContainer>div{
        width: 100%;
    }
    #page1{
        background-image: none;
    }
    #scroll{
        font-size: 0.8rem;
        left: 39%;
    }
    input[type=email], input[type=text],input[type=password],input[type=tel]{
        width: auto;
    }
}
@media screen and (max-width: 540px){
    .dates{
        margin-top: 0%;
    }
    body{
        font-size: 13px;
    }
    #page1{
        background-image: none;
    }
    #logosvg{
        width: 60%;
    }
    #scroll{
        left: 33%;
    }
    #controllerImg{
        left: -30vw;
    }
    .sectionContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 0.8em;
        width: 95%;
        left: 0;
        padding: 12px;
    }
    #aboutCSI{
        flex-direction: column;
    }
    input[type=email], input[type=text],input[type=password],input[type=tel]{
        width: 85%;
    }
}
@media only screen and (max-width: 377px){
    body{
        font-size: 10px;
    }
    #designcontent{
        font-size: 0.8rem;
    }
    .sectioncontainer{
        background-color: aqua;
        margin-top: 100px;
    }
    #scroll{
        left: 29%;
    }
    .bg{
        height: 90%;
    }
    #controllerImg{
        display: none;
    }
    .sectionContainer>div{
        width: 100%;
    }
    #phoneImg{
        display: none;
    }
}