html{
    scroll-behavior: smooth;
    font-size: 24px;
}
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
   
}
label{
    font-size: 0.65rem;
    color: white;
}
button{
    font-weight: bolder;
    border:none;
    font-size: 1rem;
    padding: 10px;
    text-decoration: none;
    background-color: #fb8449;
    color: black;
}
nav{
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    padding-bottom: 0;
    width: 85%;
    padding: 0 7%;
    z-index:999;
}

#navContainer{
    position: fixed; 
    top:0; 
    z-index: 10;
     width: 100%;
     height: auto;
}
#menu{
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    justify-items: space-around;
}
#last{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: space-around;
}
#logo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#logosvg{
    max-height: 25vh;   
}
#logoTag{
    font-size: 1rem;
    text-transform: uppercase;
}
.sectionContainer>div{
    width: 90%;
}
.section{
    position: relative;
    margin-bottom: 30px;
    display: flex;
    
}
.bg{
    background-color: #fb8449;
    width: 100%;
    height: 80%;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-left: -106px;
    padding-left: 185px;
    margin-right: -106px;
    padding-right: 185px;
    position: absolute;
}

#s3{
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
} 
.sectionContainer{
    z-index: 1;
    top:20%;
    /* margin-right: 135px; */
    display: flex;
    flex-direction: row;
    max-width: 1260px ;
    width: 90%;
    padding-top: 3%;
    max-height: 500px;
    font-size: 0.93rem;
    left: 10px;
    right: 20px;
    position: absolute;
    margin: auto;
}
.sectionContainer>div>h1{
    padding: 0;
    margin: 0;
}
.dates{
    color: white; 
    margin-top: 3%;
}
.sectionContainer#s2{
    position: absolute;
    top: 20%;
    align-items: center;
    width: 95%;
    
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#questionImg{
    width:5% ;
    height:5%;
}
#marioImgDiv{
    position: absolute;
    left: 7%;
    bottom: 15%;
    z-index: -10;
    opacity: 1;
}
#rectImg{
    position: relative;
    bottom: 20%;
    left: 70%;
    opacity: 0.74;
}
.sectionContainer#s4{
    justify-content: flex-start;
}
#aboutCSI{
    padding-top: 1%;
    padding-left: 1%;
}
#aboutCSI>p{
    padding-right: 7%;
    font-size: 0.8rem;
}

#sec1content{
    font-size: 0.8rem;
    margin-top: 3%;
}
li{
    list-style: none;
}
.nav-link{
    color: black;
    font-weight: bold;
    padding: 0 15px;
}

#page1{
   z-index: 1;
   background-image: url(./img/bg.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}
#scroll{
    position: absolute; 
    font-size: 1rem;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 10%;
    opacity: 0;
    text-align: center;
}
.navbar-brand{
    margin-top: 0;
    color: #fb8449;
    margin-bottom: 0;
}
#pygamecontent{
    width: 50%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration-color: none;
    text-decoration: none;
}

#chatbotImg{ 
/* padding-left: 200px; */
top: 25vh;
position: absolute;
left :10vw;
height: 55%;
width: auto;
}

input[type=email], input[type=text],input[type=password],input[type=tel]{
    border: none;
    width: 80%;
    border-bottom: 2px solid white;
    color: white;
    background-color: transparent;
}
#spitErrors{
 font-size: 0.9rem;
 border-radius: 7px;
 padding: 10px;
}
#pygamechkdiv{
    background-color: rgba(0,0,0,1);
    margin-bottom: 20px;
    border-radius: 10px;
    width: 85%;
}
input{
    padding: 10px;
    margin: 10px;
}
button[type=submit]{
    font-weight: bolder;
    border:none;
    border-radius: 5px;
    text-decoration: none;
    color: #fb8449;
    max-width: fit-content;
    max-width: -moz-fit-content;
    margin: 10px 0;
    background-color: white;
}
#submitBtn{
    font-weight: bolder;
    border:none;
    border-radius: 5px;
    text-decoration: none;
    color: #fb8449;
    max-width: fit-content;
    max-width: -moz-fit-content;
    margin: 10px 0;
    background-color: white;
}
input[type=submit]:hover{
    cursor: pointer;
}
::placeholder { 
    color: white;
    opacity: 1;
  }
  
:-ms-input-placeholder { 
    color: white;
}
  
::-ms-input-placeholder { 
    color:white;
}

.last{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 10%;
}
#designcontent{
    max-width: 60%;
    font-size: 1rem;
    justify-content: right;
    margin-top: 3%;
    margin-bottom: -3%;
}
form{
    display: flex;
    flex-flow: column nowrap;
}
#PygameP{
    width: 30%;
    min-width: 40%;
}
#registerForm{
    margin-left: 10px;
}
/* For the slideshow*/ 
.slideshow-container {
    display: flex;
    justify-content: center;
    height: 600px;
    margin: 30px 30px;
    background-color: rgba(255,255,255,1);
    margin-bottom: 5vh;
  } 
.slideshow-container>div>img {
    max-height: 600px;
    width: auto;
    height: 100%;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(139, 139, 139);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .activated, .dot:hover {
    background-color: #444343;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #marioImg{
    width:30%;
    height:30%;
  }
  .aboutAndReg{
    display: grid;
    padding: 0 3%;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    height: max-content;
  }
#intro{
    width: 70%;
}

#pygamechkdiv {
    z-index: 2999;
}



@media screen and (min-width: 1440px){
    html{
        font-size: 30px;
    }
    #s2{
        left: 5%;
    }
}
@media screen and (max-width: 1090px){
    #designcontent{
        max-width: 100%;
    }
    html{
        font-size: 30px;
    }
    #logosvg{
        width: 30%;
    }
    #chatbotImg{
        left: 5vh;
        top: 13vh;
        width: 38%;
    }
    #logo{
        width: 100%;
    }
    #sec1content{
        max-width: auto;
        line-height: 1.6;
    }

    .sectionContainer>div{
        width: 60%;
    }
    .slideshow-container {
        display: flex;
        justify-content: center;
        height: 300px;
        background-color: rgba(255,255,255,1);
        margin-bottom: 5vh;
      }
    .slideshow-container>div>img {
        max-height: 300px;
        width: auto;
        height: 100%;
        
      }
     #aboutCSI{
        margin-top: 5%;
        grid-row:2;
    }
    #registerForm{
        grid-row: 1;
    }
    .aboutAndReg{
        grid-template-columns: none;
        grid-template-rows:  auto 45%;
        padding:10%;
    }
}
@media screen and (max-width: 768px){
    #chatbotImg{
        width: 40%;
        top: 15vh;
        left: 4vh;
    }
    #s2{
        left:0;
    }
    html{
        font-size: 20px;
    }
    .sectionContainer{
        padding-top: 3%;
    }
    #logo{
        width: 100%;
    }
    #logosvg{
        width: 40%;
        height: 20%;
        width: 30%;
        height: 30%;
    }
    #intro{
       width: 100%;
    }
    #PygameP{
        width: 100%;
    }
    #marioImgDiv{
        display: none;

    }
    #rectImg{
        display: none;
    }
    
    .sectionContainer>div{
        width: 100%;
    }
    #page1{
        background-image: none;
    }
  
    input[type=email], input[type=text],input[type=password],input[type=tel]{
        width: auto;
    }
    #pygamechkdiv{
        width: 100%;
    }
    input[type=email], input[type=text],input[type=password],input[type=tel]{
        width: auto;
    }
}

@media screen and (max-width: 540px){
    #chatbotImg{
        display: none;
    }
    .dates{
        margin-top: 0%;
    }
    #designcontent{
        margin-bottom: 5%;
    }
    #pygamecontent{
        width: 100%;
    }
    #questionImg{
        width: 10%;
        height: 10%;
    }
    #marioImgDiv{
        display: block;
        bottom: 5%;
        left: 24%;
     }
    #marioImg{
        width: 70%;
        height: 70%;
    }
    html{
        font-size: 18px;
    }
    #s2>div{
        width: 100%;
    }
    #page1{
        background-image: none;
    }
    #logosvg{
        width: 60%;
    }
    .bg{
        height: 87%;
    }
   
    #chatbotImg{
        left: -30vw;
    }
    .sectionContainer{
        display: flex;
        line-height: 1.6;
        flex-direction: column;
        justify-content: flex-start;
        width: 95%;
        left: 0;
        padding: 8px;
    }
    #aboutCSI{
        flex-direction: column;
    }
    input[type=email], input[type=text],input[type=password],input[type=tel]{
        width: 85%;
    }
}
@media only screen and (max-width: 377px){
    html{
        font-size: 15px;
    }
    .sectioncontainer{
        margin-top: 100px;
    }
    #sec1content{
        margin-top: 8%;
    }

    .sectionContainer>div{
        width: 100%;
    }
    
}
@media only screen and (max-width: 325px){
    html{
        font-size: 13px;
    }
}